@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #dadada;
  position: relative;
}
#cursor {
  height: 7.5vw;
  width: 7.5vw;
  background-color: #fe5e37;
  border-radius: 50%;
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

#cursor h5 {
  font-size: 1.5vw;
}
#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

#page1-content {
  height: 100%;
  width: 100%;
  /* background-color: black; */
  position: relative;
  z-index: 10;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  /* padding-bottom: 5vw; */
}

nav {
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background-color: red; */
  padding: 3vw 3vw;
}

nav h3 {
  font-size: 1.4vw;
}
nav h4 {
  font-size: 1.4vw;
}

#page1-content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 20vw;
  line-height: 27vw;
}

#page1-content h1 span {
  font-family: "Poppins";
  display: inline-block;
}

#page2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page2 h1 {
  width: 90%;
  padding-top: 2vw;
}
#page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 3vw;
}
#page3-top {
  /* background-color: red; */
  text-align: center;
}

#page3-top h4 {
  margin-bottom: 1vw;
  font-size: 1vw;
  font-weight: 500;
}
#page3-top h4 span {
  font-size: 0.7vw;
  background-color: black;
  color: white;
  padding: 4px 10px;
  border-radius: 10px;
}
#page3-top h2 {
  font-size: 4vw;
  font-weight: 600;
}

#page3-elements {
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8vw;
  /* background-color: red; */
}
#page3-elements .box {
  height: 100%;
  width: 32.5%;
  background-color: blue;
  position: relative;
}
#page3-elements .box video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
#page3-elements .box img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all linear 0.8s;
}
#page3-elements .box:hover img {
  opacity: 0;
}

#page4 {
  height: 100vh;
  width: 100%;
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

#page4 video {
  height: 100%;
  object-fit: cover;
  position: absolute;
}

#page4-content {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page4 video {
  height: 100%;
}
#page4 svg {
  position: absolute;
  height: 65%;
  z-index: 99;
}
#page4 #cursor2 {
  height: 7.5vw;
  width: 7.5vw;
  background-color: black;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}
#cursor2 h4 {
  font-size: 1.5vw;
  color: wheat;
}

#page5 {
  height: 100vh;
  width: 100%;
  position: relative;
}
#page5text {
  height: 40vh;
  width: 97%;
  position: relative;
  /* background-color: red; */
}
#page5text h1 {
  font-size: 10vw;
  font-weight: 100;
  margin-left: 2vw;
  border-bottom: 1px solid #2d2929;
}
#swiperdiv {
  margin-top: -10px;
  height: 60vh;
  width: 100%;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.swiper-slide img {
  /* display: block; */
  width: 20%;
  /* height: 100%; */
  object-fit: cover;
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 10px;
}
#loader h3 {
  font-size: 2vw;
}

@media (min-width: 501px) and (max-width: 768px) {
  html {
    /* font-size: 8px; */
    font-size: 50rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
